.cr-mobile-slide{
    width: 100%;
    max-height: 150px;

    .slick-slider{
        ul.slick-dots{
            position: absolute;
            bottom : 15px;
        }
    }


    //overflow: hidden;
}
