/* .home-page__markets-top-block input {
    width: 230px;
    border: 1px solid #295e9f;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
    outline: none;
    background: #1d3863;
    border-radius: 4px;
} */