.home-page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: calc(var(--gap) * -1.3);
  width: 100vw;
  &__banner {
    max-width: 1200px;
    width: 100%;

    .langding-page__sound-speaker
  }
  
}
/* -------Market-Feature----------- */


